@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid lime;  */
   /* overflow: auto!important; */

}
/* .cart-item  {
  overflow: auto;
} */

button,
h1,
h2,
h3,
table,
td,
th,span {
  font-family: "cairo" !important;
}
.requested-meal {
  overflow: auto !important;
}
main {
  /* height: 90vh!important; */
  /* background-image: linear-gradient(180deg, #f48fb1, transparent); */
}
.p-colorpicker input{
  width: 20px;
  border-radius: 5px;
  padding: 0%;
  margin: 0;
  border: 1px solid lightblue;
}
header{
  background-color: #0097e6  !important
}
nav {
  /* background-color: #e1bee7!important; */
}
.css-hikx3c-MuiDrawer-docked {
  background-color: lightblue; /* example style */
  /* width: 240px!important; */
}
:root{
  --primary: lightblue;
  --secondary: lightblue;
}
body {
  /* overflow: hidden; */
  user-select: none;
  /* height: 80vh!important; */
}
.MuiDrawer-paper,
.MuiDrawer-root,
.MuiDrawer-docked,
.muirtl-bz90rz-MuiDrawer-docked {
  max-width: 223px !important;
}
.css-lhpdre-MuiStack-root,
.css-lhpdre-MuiStack-root > :not(style) ~ :not(style),
.muirtl-lhpdre-MuiStack-root {
  margin: 0 !important;
}
* {
  /* outline: 1px solid lightblue; */
}
/* From Uiverse.io by absoluteSTrange */
.card {
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  min-height: 212px;
}

.shadow {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.meal-container {
  display: flex;
  gap: 15px; /* Space between grid items */
  padding: 5px;
  flex-wrap: wrap;
  text-align: center;
  align-content: start;
  align-items: center;
}
.meal-container > div {
  /* min-height: 184px; */
}

.MuiStack-root,
.muirtl-lhpdre-MuiStack-root,
.muirtl-dznnl1-MuiStack-root,
.muirtl-lhpdre-MuiStack-root > :not(style) ~ :not(style) {
  margin: 0;
}

.layout div {
  max-width: 100%;
  /* overflow: hidden; */
}

.muirtl-112x4te-MuiContainer-root {
  max-width: unset !important;
}
.menu {
  display: grid;
  grid-template-columns: repeat(1.7, 1.3fr);
  gap: 10px;
}

.meal-category {
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 4px 5px 9px #add8e6;
  background-color: orange;
  font-weight: 600;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.rbc-calendar{
  width: auto!important;
}
.mealDiv {
  padding: 5px;
  margin-bottom: 5px;
}
.mealDiv h5 {
  /* background-color: #ff7961; */
  border-radius: 5px;
  box-shadow: 3px 2px 4px #0097e6;
}
.category-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}

@media (min-width: 768px) {
  .category-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(508px, 1fr));
  }
}

.rbc-calendar {
  width: 700px;
}

.order-header{
  background-color: #add8e6;
    padding: 5px;
    border-radius: 10px;
    border: 1px dashed
}

@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: 1.7fr 1.3fr;
    margin-top: 5px;
    gap: 5px;
  }
  .orders-cart {
    display: grid;
    gap: 5px;
    grid-template-columns: minmax(285px, 1fr) 80px;
  }

  /* .mobile-header {
    display: grid!important;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  } */
}

.dashborad-stats {
  background: linear-gradient(45deg, #add8e6, transparent);
  border-radius: 40px;
}
.muirtl-16wn5uk-MuiTypography-root {
  color: black !important;
}

.cart-items-div{
  counter-reset: item;
}

.cart-item {
  counter-increment: item;
  position: relative;
}
.cart-item::before{
  position: absolute;
  right: -16px;
  content: counter(item);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* //material color */
    background-color: #9FA8DA;
  color: white;
  /* background-color: red; */


}
.order-table{
  overflow: auto!important;
}
.order-table th {
  background-color: rgb(240, 239, 239);
}
.order-table td,th  {
  border: 1px solid lightgray;
  /* padding: 2px!important; */
  
    width: fit-content;
  
}

.muirtl-1goaqxd{
  max-width :auto !important;
}

.truncated-text {
  white-space: nowrap !important; /* Prevent text from wrapping to a new line */
  overflow: hidden !important;    /* Hide the overflowed text */
  text-overflow: ellipsis !important; /* Add ellipsis ("...") at the end of the text */
  width: 150px !important; /* Set the width of the container */
}
@media (min-width: 768px) and (max-width: 1024px){
  .truncated-text {
    white-space: nowrap !important; /* Prevent text from wrapping to a new line */
    overflow: hidden !important;    /* Hide the overflowed text */
    text-overflow: ellipsis !important; /* Add ellipsis ("...") at the end of the text */
    width: 100px !important; /* Set the width of the container */
  }
}

.muirtl-17jr764-MuiPaper-root-MuiDialog-paper{
  max-width: fit-content!important;
}
.muirtl-t3xolk{
height: unset!important;
width: unset!important;
}